[submodule "src/polybase-vue"]
	path = src/polybase-vue
	url = https://github.com/simonpankovski/polybase-vue.git
[submodule "src/3D_Web_App"]
	path = src/3D_Web_App
	url = https://github.com/simonpankovski/3D_Web_App.git
[submodule ".\\3D_Web_App\\"]
	branch = unix
