<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="kind" version="0.17.0" />
      <package id="kubernetes-helm" version="3.10.1" />
      <package id="kubectx" version="0.9.4" />
      <package id="kubens" version="0.9.4" />
      <package id="k9s" version="0.26.3" />
      <package id="skaffold" version="2.0.2" />
    </packages>